body {
    font-family: "Roboto" !important;
}
.suggested-list {
    color: #fff;
    font-size: 14px;
}

li {
    list-style-type: none;
}

.logo-container {
    background-color: #fff;
    padding: 40px;
}

.logo-container img {
    width: 150px;
}

ul {
    padding-left: 0;
}
.nopad {
    padding: 0 !important;
}
li a {
    color: #fff;
}
li a:hover {
    color: #fff;
}
.list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(255,255,255,0.15);
}
.list-content {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 0;
    padding: 1rem 1rem 1rem 2.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    line-height: 16px;
    color: #fff;
    font-size: 13px;
    width: 100%;
    flex: 0 1 auto;
}
.suggested-list img {
    position: absolute;
    content: '';
    left: 8px;
    left: .8rem;
    height: 13px;
    height: 1.3rem;
    width: 13px;
    width: 1.3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.type {
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 700;
}