body {
    font-family: "Roboto";
}
.suggested-list {
    color: #fff;
    font-size: 14px;
}

li {
    list-style-type: none;
}

.logo-container {
    background-color: #fff;
    padding: 40px;
}

.logo-container img {
    width: 150px;
}

ul {
    padding-left: 0;
}
.nopad {
    padding: 0 !important;
}
li {
    border-bottom: 1px solid #fff;
}
li a {
    color: #fff;
}
li a:hover {
    color: #fff;
}
.list {
    display: flex;
    flex-wrap: wrap;
}
.list-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    flex: 0 1 auto;
    border-bottom: 1px solid #fff;
}